@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
}
.selects {
  display: flex;
  justify-content: center;
  height: 4vh;
}
.selects select {
  width: 25%;
  height: 100%;
  font-size: 22px;
  font-weight: 100;
  padding-left: 1%;
  outline: 0;
}
.selects select:focus {
  border: 2px solid tomato;
}

.selects select option:checked {
  background-color: tomato;
  color: white;
}
.distance {
  display: grid;
  text-align: center;
  grid-template-columns: auto;
}
.distance div {
  font-size: 1.8rem;
}
.distances {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input {
  height: 2rem;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s all;
  font-size: 1.3rem;
  padding: 10px 0 10px 10px;
  outline: 0;
}
.input {
  margin-right: 30px;
}

.input:focus {
  background-color: tomato;
  color: white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border: 0;
}
.input:focus::placeholder {
  color: white;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.form .button {
  display: flex;
  justify-content: center;
  width: 15%;
}
.form .button button {
  text-align: center;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: tomato;
  color: white;
  width: 80%;
  cursor: pointer;
}
.distances {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.distances div:hover {
  background-color: tomato;
  width: 40%;
  text-align: center;
  border-radius: 8px;
  color: white;
}
.poly {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poly button {
  text-align: center;
  font-size: 1.5rem;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  width: 15%;
  cursor: pointer;
  height: 3rem;
}
.poly button:disabled {
  background-color: gray;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .input {
    margin-right: 0;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form .inputs {
    display: flex;
    flex-direction: column;
  }
  .form .button {
    width: 100%;
    height: 3rem;
  }
  .form .button button {
    width: 100%;
  }
  .poly {
    width: 100%;
  }
  .poly button {
    width: 100%;
  }
}
